127.0.0.1 localhost.localdomain localhost

{{controller.private_ip_address}} {{controller.private_dns_name}} {{controller.private_short_name}}

{% for node in injectors %}
{{node.private_ip_address}} {{node.private_dns_name}} {{node.private_short_name}}
{% endfor %}